@using BankSystem.Data
@model BankSystem.Models.Deposit
@{
    ViewData["Title"] = "Add dollars";
}
@{
    var context = new ApplicationDbContext();
    var client = context.Clients.Where(c => c.Email == User.Identity.Name).FirstOrDefault();
    var clientAccount = context.Client_Accounts.Where(ca => ca.Client_ID == client.Id).Select(a => a.AccountID).FirstOrDefault();
    var accountNumber = context.DollarAccounts.Where(da => da.Id == clientAccount).Select(da => da.AccountNumber).FirstOrDefault();
}

<h1>AddMoney</h1>

<section class="section">
    <div class="row">

        <form asp-action="AddMoney" name="AddMoneyForm" id="transfer-form">
            <div class="card">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <label asp-for="Amount" class="floating-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="AccountNumber" class="floating-label"></label>
                        <input asp-for="AccountNumber" class="form-control" value="@accountNumber" readonly />
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="transfer-submit" type="submit" value="Add" class="w-100 btn btn-lg btn-info" />
                    </div>
                    <div class="form-floating mb-3">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

        </form>

    </div>
</section>
