body {
font-family: "Open Sans", sans-serif;
background: #f6f9ff;
color: #444444;
}

a {
color: #4154f1;
text-decoration: none;
}

a:hover {
color: #717ff5;
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Nunito", sans-serif;
}

.navbar-brand {
margin-left: 20px !important;
font-weight: bold;
color: dimgray !important;
}


#main {
margin-top: 60px;
padding: 20px 30px;
transition: all 0.3s;
}

@media (max-width: 1199px) {
#main {
padding: 20px;
}
}

/* CARDS */
.card {
margin-bottom: 30px;
margin-left: 30px;
border: none;
border-radius: 5px;
box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-loan, .card-account {
margin-bottom: 30px;
margin-left: 30px;
border: none;
border-radius: 5px;
box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
background-color: white;
display: inline-flex !important;
}

.card-header,
.card-footer {
border-color: #ebeef4;
background-color: #fff;
color: #798eb3;
bottom: 0;
position: absolute;
margin-top: 30px;
width: 100%;
max-height: 20px;
}

.card-title {
padding: 20px 0 15px 30px;
font-size: 18px;
font-weight: 500;
color: #012970;
font-family: "Poppins", sans-serif;
}

.card-title span {
color: #899bbd;
font-size: 14px;
font-weight: 400;
}

.card-body {
padding: 0 20px 20px 20px;
}

.card-body-account {
width: 750px;
}

.card-img-overlay {
background-color: rgba(255, 255, 255, 0.6);
}

/* FLOATING LABEL INPUT */
.floating-label {
font-size: 13px;
padding: 2px 0 0 10px !important; 
}

/* SIDE NAVIGATON */
.sidebar {
position: fixed;
top: 60px;
left: 0;
bottom: 0;
width: 300px;
z-index: 996;
transition: all 0.3s;
padding: 20px;
overflow-y: auto;
scrollbar-width: thin;
scrollbar-color: #aab7cf transparent;
box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
background-color: #fff;
}

@media (max-width: 1199px) {
.sidebar {
left: -300px;
}
}

.sidebar::-webkit-scrollbar {
width: 5px;
height: 8px;
background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
background-color: #aab7cf;
}

.sidebar-nav {
padding: 0;
margin: 0;
list-style: none;
}

.sidebar-nav li {
padding: 0;
margin: 0;
list-style: none;
}

.sidebar-nav .nav-item {
margin-bottom: 5px;
}

.sidebar-nav .nav-item a {
margin-bottom: 5px;
color: #0275d8;
background-color: #5bc0de20;
}

.sidebar-nav .nav-heading {
font-size: 11px;
text-transform: uppercase;
color: #899bbd;
font-weight: 600;
margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
display: flex;
align-items: center;
font-size: 15px;
font-weight: 600;
color: #4154f1;
background: #f6f9ff;
padding: 10px 15px;
border-radius: 4px;
}

.sidebar-nav .nav-link i {
font-size: 16px;
margin-right: 10px;
color: #4154f1;
}

.sidebar-nav .nav-link:hover {
color: #4154f1;
background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
margin-right: 0;
transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
transform: rotate(180deg);
}

.sidebar-nav .nav-content {
padding: 5px 0 0 0;
margin: 0;
list-style: none;
}

.sidebar-nav .nav-content a {
display: flex;
align-items: center;
font-size: 14px;
font-weight: 600;
color: #012970;
padding: 10px 0 10px 40px;
transition: 0.3s;
}

.sidebar-nav .nav-content a i {
font-size: 6px;
margin-right: 8px;
line-height: 0;
border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
background-color: #4154f1;
}


/* ACCOUNT CARDS */
.dashboard .info-card h6 {
    font-size: 28px;
    color: #012970;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.dashboard .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .euro-card .card-icon {
    color: #4154f1;
    background: #e0f0ff;
}

.dashboard .dollar-card .card-icon {
    color: #2eca6a;
    background: #e0f8e9;
}

.dashboard .pound-card .card-icon {
    color: #ff771d;
    background: #ffecdf;
}


.account-buttons {
    list-style: none;
}

.account-buttons li {
    padding-left: 20px;
}

/* LOAN APPLICATIONS */
.range-input {
    border: none;
    color: deepskyblue;
    font-weight: 800;
    font-size: 30px;
    padding-left: 20px;
}