@page
@using BankSystem.Data
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserMAnager
@model Client

@{
    var context = new ApplicationDbContext();
    var client = context.Clients.Where(c => c.Email == User.Identity.Name).FirstOrDefault();
    var clientAccount = context.Client_Accounts.Where(ca => ca.Client_ID == client.Id).Select(a => a.AccountID).FirstOrDefault();
    var accountNumber = context.DollarAccounts.Where(da => da.Id == clientAccount).Select(da => da.AccountNumber).FirstOrDefault();
    var dollars = context.DollarAccounts.Where(da => da.AccountNumber == accountNumber).Select(a => a.Funds).FirstOrDefault();
}

@if (SignInManager.IsSignedIn(User))
{
    
    <section class="section dashboard">
      <div class="row">

        <div class="col-lg-8">
          <div class="row">

            <div class="col-12">
              <div class="card-account info-card euro-card">
                  
                <div class="card-body card-body-account">
                  

                  <div class="d-flex align-items-center">
                    
                    <div class="ps-3">
                      
                      <div class="account-buttons-horizontal">
                        <h5 class="card-title">Euro Funds</h5>

                         <ul class="list-group list-group-flush list-group-horizontal account-buttons">
                             <li>
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">€</div>
                             </li>
                             <li>
                                 <h6>
                                     $@dollars
                                 </h6>
                             </li>
                             <li>
                                <a class="btn btn-outline-warning" asp-action="Withdrawal" asp-controller="EuroCurrency">Withdrawal</a>
                             </li>
                             <li>
                                <a class="btn btn-outline-success" asp-action="AddMoney" asp-controller="EuroCurrency">Add money</a>
                             </li>
                              <li>
                                <a class="btn btn-outline-secondary" asp-action="History" asp-controller="EuroCurrency">History</a>
                              </li>
                              <li>
                                <a class="btn btn-outline-primary" asp-action="Transfer" asp-controller="EuroCurrency">Transfer</a>
                              </li>
                         </ul>
                      </div>
                    </div>
                  </div>
                  
                </div>

              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
}
else
{
    <h2>WELCOME IN THE BANK APPLICATION!</h2>
}
