@page
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserMAnager


@if (SignInManager.IsSignedIn(User))
{
    <section class="section dashboard">
      <div class="row">

        <div class="col-lg-8">
          <div class="row">

            <div class="col-12">
              <div class="card-account info-card euro-card">
                  
                <div class="card-body card-body-account">
                  

                  <div class="d-flex align-items-center">
                    
                    <div class="ps-3">
                      
                      <div class="account-buttons-horizontal">
                        <h5 class="card-title">Euro Funds</h5>

                         <ul class="list-group list-group-flush list-group-horizontal account-buttons">
                             <li>
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">€</div>
                             </li>
                             <li>
                                 <h6>3,264</h6>
                             </li>
                              <li>
                                <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="EuroHistory">History</a>
                              </li>
                              <li>
                                <a class="btn btn-outline-primary" asp-action="Create" asp-controller="EuroHistory">Transfer</a>
                              </li>
                         </ul>
                      </div>
                    </div>
                  </div>
                  
                </div>

              </div>
            </div>
            <div class="col-12">
                <div class="card-account info-card dollar-card">

                    <div class="card-body card-body-account">


                        <div class="d-flex align-items-center">

                            <div class="ps-3">

                                <div class="account-buttons-horizontal">
                                    <h5 class="card-title">Dollar Funds</h5>

                                    <ul class="list-group list-group-flush list-group-horizontal account-buttons">
                                        <li>
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">$</div>
                                        </li>
                                        <li>
                                            <h6>3,264</h6>
                                        </li>
                                        <li>
                                            <a class="btn btn-outline-secondary" asp-action="History" asp-controller="DollarCurrency">History</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-outline-primary" asp-action="Transfer" asp-controller="DollarCurrency">Transfer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-12">
              <div class="card-account info-card pound-card">
                  
                <div class="card-body card-body-account">
                  

                  <div class="d-flex align-items-center">
                    
                    <div class="ps-3">
                      
                      <div class="account-buttons-horizontal">
                        <h5 class="card-title">British Pound Funds</h5>

                         <ul class="list-group list-group-flush list-group-horizontal account-buttons">
                             <li>
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">£</div>
                             </li>
                             <li>
                                 <h6>3,264</h6>
                             </li>
                              <li>
                                <a class="btn btn-outline-secondary" asp-action="History" asp-controller="Home">History</a>
                              </li>
                              <li>
                                <a class="btn btn-outline-primary" asp-action="Transfer" asp-controller="Home">Transfer</a>
                              </li>
                         </ul>
                      </div>
                    </div>
                  </div>
                  
                </div>

              </div>
            </div>
            
            @*<div class="col-12">
              <div class="card history overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  
                </div>

                <div class="card-body">
                  <h5 class="card-title">History of transactions</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">date</th>
                        <td>Brandon Jacob</td>
                        <td>$64</td>
                        <td><span class="badge bg-success">Sent</span></td>
                      </tr>
                      
                      <tr>
                        <th scope="row">date</th>
                        <td>Ashleigh Langosh</td>
                        <td>$147</td>
                        <td><span class="badge bg-secondary">Pending...</span></td>
                      </tr>
                      <tr>
                        <th scope="row">date</th>
                        <td>Raheem Lehner</td>
                        <td>$165</td>
                        <td><span class="badge bg-primary">Received</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div>*@
          </div>
        </div>
      </div>
    </section>
}
else
{
    <h2>WELCOME IN THE BANK APPLICATION!</h2>
}
