@page
@using BankSystem.Data
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserMAnager
@model Client

@{
    var context = new ApplicationDbContext();
    var euros = context.Clients.Where(c => c.Email == User.Identity.Name).Select(c => c.EuroAcc.Funds).FirstOrDefault();
    var dollars = context.Clients.Where(c => c.Email == User.Identity.Name).Select(c => c.DollarAcc.Funds).FirstOrDefault();
    var pounds = context.Clients.Where(c => c.Email == User.Identity.Name).Select(c => c.PoundAcc.Funds).FirstOrDefault();
}

@if (SignInManager.IsSignedIn(User))
{
    
    <section class="section dashboard">
      <div class="row">

        <div class="col-lg-8">
          <div class="row">

            <div class="col-12">
              <div class="card-account info-card euro-card">
                  
                <div class="card-body card-body-account">
                  

                  <div class="d-flex align-items-center">
                    
                    <div class="ps-3">
                      
                      <div class="account-buttons-horizontal">
                        <h5 class="card-title">Euro Funds</h5>

                         <ul class="list-group list-group-flush list-group-horizontal account-buttons">
                             <li>
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">€</div>
                             </li>
                             <li>
                                 <h6>
                                     @euros
                                 </h6>
                             </li>
                              <li>
                                <a class="btn btn-outline-secondary" asp-action="History" asp-controller="EuroCurrency">History</a>
                              </li>
                              <li>
                                <a class="btn btn-outline-primary" asp-action="Transfer" asp-controller="EuroCurrency">Transfer</a>
                              </li>
                         </ul>
                      </div>
                    </div>
                  </div>
                  
                </div>

              </div>
            </div>
            <div class="col-12">
                <div class="card-account info-card dollar-card">

                    <div class="card-body card-body-account">


                        <div class="d-flex align-items-center">

                            <div class="ps-3">

                                <div class="account-buttons-horizontal">
                                    <h5 class="card-title">Dollar Funds</h5>

                                    <ul class="list-group list-group-flush list-group-horizontal account-buttons">
                                        <li>
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">$</div>
                                        </li>
                                        <li>
                                            <h6>
                                                @dollars
                                            </h6>
                                        </li>
                                        <li>
                                            <a class="btn btn-outline-secondary" asp-action="History" asp-controller="DollarCurrency">History</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-outline-primary" asp-action="Transfer" asp-controller="DollarCurrency">Transfer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-12">
              <div class="card-account info-card pound-card">
                  
                <div class="card-body card-body-account">
                  

                  <div class="d-flex align-items-center">
                    
                    <div class="ps-3">
                      
                      <div class="account-buttons-horizontal">
                        <h5 class="card-title">British Pound Funds</h5>

                         <ul class="list-group list-group-flush list-group-horizontal account-buttons">
                             <li>
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">£</div>
                             </li>
                             <li>
                                 <h6>
                                     @pounds
                                 </h6>
                             </li>
                              <li>
                                <a class="btn btn-outline-secondary" asp-action="History" asp-controller="PoundCurrency">History</a>
                              </li>
                              <li>
                                <a class="btn btn-outline-primary" asp-action="Transfer" asp-controller="PoundCurrency">Transfer</a>
                              </li>
                         </ul>
                      </div>
                    </div>
                  </div>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
}
else
{
    <h2>WELCOME IN THE BANK APPLICATION!</h2>
}
