@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="section">
    <div class="row">

        <form name="LoanForm" id="loan-form" method="post">
            <div class="card-loan">
                <div class="card-body">
                    <h5 class="card-title">Personal data</h5>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Forename</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Lastname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">ID number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Net income</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Employment type</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Phone</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">City</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Street</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">House number</label>
                    </div>
                </div>
            </div> 
                <div class="card-loan">
                    <div class="card-body">
                        <h5 class="card-title">Loan type</h5>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option value="1" selected>US dolar</option>
                                <option value="2">Euro</option>
                                <option value="3">British pound</option>
                            </select>
                            <label for="floatingSelect">Select currency</label>
                        </div>
                        
                        <div>
                            <label for="customRange2" class="form-label">Months to pay off</label>
                            <input class="range-input" type="text" id="monthsLoanValue" value="" readonly>
                            <input type="range" class="form-range" min="2" max="24" step="1" onchange="updateMonthsValue(this.value);">
                        </div>
                        <div>
                            <label for="customRange2" class="form-label">Amount</label>
                            <input class="range-input" type="text" id="amountLoanValue" value="" readonly>
                            <input type="range" class="form-range" min="1000" max="100000" step="100" onchange="updateLoanValue(this.value);">
                        </div>
                            <h5 class="card-title">Send application</h5>
                            <button id="loan-submit" type="submit" class="w-100 btn btn-lg btn-info">Send application</button>
                
                    </div>
                </div>
                
        </form>
        
    </div>
</section>
