@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="section">
    <div class="row">

        <form name="TransferForm" id="transfer-form" method="post">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Transfer money</h5>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Beneficiary's name'</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Beneficiary's account number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Address (optional)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Amount</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Transfer date</label>
                    </div>
                    <button id="transfer-submit" type="submit" class="w-100 btn btn-lg btn-info">Send</button>
                </div>
            </div> 
        </form>
        
    </div>
</section>