@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Client"))
{
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-heading">Menu</li>

            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Home">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-action="CurrencyExchange" asp-controller="Home">
                    <i class="bi bi-envelope"></i>
                    <span>Currency exchange</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-action="LoanApplication" asp-controller="Home">
                    <i class="bi bi-envelope"></i>
                    <span>My loan applications</span>
                </a>
            </li>

        </ul>

    </aside>
}
@if(SignInManager.IsSignedIn(User) && User.IsInRole("Worker"))
{
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-heading">Menu</li>


            <li class="nav-item">
                <a class="nav-link bg-danger bg-opacity-75 text-white" asp-action="Index" asp-controller="LoanApplication">
                    <i class="bi bi-envelope"></i>
                    <span>Loan Applications</span>
                </a>
            </li>

        </ul>

    </aside>
}